<header class="header">

  <a routerLink="/" class="logo">
    <mat-icon>toys</mat-icon>
    <span>DreamLand Toys</span>
  </a>

  <nav>

    <a
      mat-button
      routerLink="/"
    >
      <mat-icon>home</mat-icon>
      Početna
    </a>

    @if (authService.isLoggedIn()) {

      <a
        mat-button
        routerLink="/cart"
      >
        <mat-icon>shopping_cart</mat-icon>
        Korpa
      </a>

      <a
        mat-button
        routerLink="/profile"
      >
        <mat-icon>person</mat-icon>
        Profil
      </a>

      <button
        mat-button
        type="button"
        (click)="logout()"
      >
        <mat-icon>logout</mat-icon>
        Odjava
      </button>

    }

    @if (!authService.isLoggedIn()) {

      <a
        mat-button
        routerLink="/login"
      >
        <mat-icon>login</mat-icon>
        Prijava
      </a>

      <a
        mat-button
        routerLink="/signup"
      >
        <mat-icon>person_add</mat-icon>
        Registracija
      </a>

    }

  </nav>

</header>

<router-outlet></router-outlet>
